<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>BOOKS!</title>
</head>
<body>

<h1>BOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOKS mustache</h1>

<p>First book is {{book1}} year</p>
<p>Second book is {{book2}} year</p>
<p>Third book is {{book3}} year</p>

<form method="post" action="/allbooks/add">

    <input type="text" name="name" placeholder="Введите название книги">

    <input type="submit" value="Добавить"/>

</form>

</body>
</html>