<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Added book</title>
</head>
<body>

<form method="post" action="">

    <input type="text" name="name" placeholder="Введите название книги">
    <input type="text" name="author" placeholder="Введите имя автора">

    <input type="submit" value="Добавить"/>

</form>

<p>Добавлена книга - {{bookName}}</p>

</body>
</html>