<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>BOOKS!</title>
</head>
<body>

<h2>Книги которые были добавлены в коллекцию</h2>

<div>
    <ul>
        {{#books}}
        <li>{{name}} : {{author}}</li>
        {{/books}}
    </ul>
</div>

<form action="/">
    <button type="submit">На главную</button>
</form>



</body>
</html>