<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>BOOKS!</title>
    <script type="text/javascript" src="../static/js/tableSort.js"></script>
</head>
<body>

<h2>Книги которые были добавлены в коллекцию</h2>

<div>

    <table class="table_sort" border="3" cellpadding="7">
        <thead>
        <tr>
            <th>Название книги</th>
            <th>Автор</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {{#books}}
        <tr>
            <td>{{name}}</td>
            <td>{{author}}</td>
            <td>
                <a href="/allbooks/delete?id={{id}}">Удалить</a>
                &nbsp;
                <a href="/editbook?id={{id}}">Редактировать</a>
            </td>
        </tr>
        {{/books}}
        </tbody>
    </table>

</div>

<form action="/">
    <button type="submit">На главную</button>
</form>



</body>
</html>