<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Second Memory</title>
</head>
<body>

<h2>Здесь будут храниться книги и фильмы</h2>

<form action="/allbooks">
    <button type="submit">Все книги</button>
</form>

<form action="/addbook">
    <button type="submit">Добавить книгу</button>
</form>

--------------------------------------------------------------

<form action="/allfilms">
    <button type="submit">Все фильмы</button>
</form>

<form action="/addfilm">
    <button type="submit">Добавить фильм</button>
</form>

--------------------------------------------------------------
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
    <input name="_csrf" value="{{_csrf.token}}" hidden>
</form>


</body>
</html>